* {
    margin:0;
    padding:0;
}

html,body {
    height: 100%;
    width: 100%;
}

#header{
    height: 100px;
    width: 80%;
    margin-left: 130px;
    border: 2px solid black;
    
}

#header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
   
}

.text{
    margin-top: -10px;
     margin-left: 40px;
}

#body{
    border: 2px solid black;
    height: 520px;
    /* width: 100%; */
}

#body_content{
    margin-left: 20px;
    margin-top: 30px;
}

#description{
    font-size   : 20px;
}